<a href="https://colab.research.google.com/github/hank199599/Machine-Learning-for-Practical-Optical-Design-data/blob/main/Regresstion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import csv
import pandas as pd

url = 'https://raw.githubusercontent.com/hank199599/Machine-Learning-for-Practical-Optical-Design-data/main/50_Startups.csv'

data=pd.read_csv(url, sep=',',header=None)
data

            0               1                2           3          4
0   R&D Spend  Administration  Marketing Spend       State     Profit
1    165349.2        136897.8         471784.1    New York  192261.83
2    162597.7       151377.59        443898.53  California  191792.06
3   153441.51       101145.55        407934.54     Florida  191050.39
4   144372.41       118671.85        383199.62    New York  182901.99
5   142107.34        91391.77        366168.42     Florida  166187.94
6    131876.9        99814.71        362861.36    New York  156991.12
7   134615.46       147198.87        127716.82  California  156122.51
8   130298.13       145530.06        323876.68     Florida   155752.6
9   120542.52       148718.95        311613.29    New York  152211.77
10  123334.88       108679.17        304981.62  California  149759.96
11  101913.08       110594.11        229160.95     Florida  146121.95
12  100671.96        91790.61        249744.55  California   144259.4
13   93863.75       127320.38        249839.44     Florida  141585.52
14   91992.39       135495.07        252664.93  California  134307.35
15  119943.24       156547.42        256512.92     Florida  132602.65
16  114523.61       122616.84        261776.23    New York  129917.04
17   78013.11       121597.55        264346.06  California  126992.93
18   94657.16       145077.58        282574.31    New York  125370.37
19   91749.16       114175.79        294919.57     Florida   124266.9
20    86419.7       153514.11                0    New York  122776.86
21   76253.86        113867.3        298664.47  California  118474.03
22   78389.47       153773.43        299737.29    New York  111313.02
23   73994.56       122782.75        303319.26     Florida  110352.25
24   67532.53       105751.03        304768.73     Florida  108733.99
25   77044.01        99281.34        140574.81    New York  108552.04
26   64664.71       139553.16        137962.62  California  107404.34
27   75328.87       144135.98        134050.07     Florida  105733.54
28    72107.6       127864.55        353183.81    New York  105008.31
29   66051.52       182645.56         118148.2     Florida  103282.38
30   65605.48       153032.06        107138.38    New York  101004.64
31   61994.48       115641.28         91131.24     Florida   99937.59
32   61136.38       152701.92         88218.23    New York   97483.56
33   63408.86       129219.61         46085.25  California   97427.84
34   55493.95       103057.49        214634.81     Florida   96778.92
35   46426.07       157693.92        210797.67  California    96712.8
36   46014.02        85047.44        205517.64    New York   96479.51
37   28663.76       127056.21        201126.82     Florida   90708.19
38   44069.95        51283.14        197029.42  California   89949.14
39   20229.59        65947.93         185265.1    New York   81229.06
40   38558.51        82982.09         174999.3  California   81005.76
41   28754.33       118546.05        172795.67  California   78239.91
42   27892.92        84710.77        164470.71     Florida   77798.83
43   23640.93        96189.63        148001.11  California   71498.49
44   15505.73        127382.3         35534.17    New York   69758.98
45   22177.74       154806.14         28334.72  California   65200.33
46    1000.23       124153.04          1903.93    New York   64926.08
47    1315.46       115816.21        297114.46     Florida   49490.75
48          0       135426.92                0  California   42559.73
49     542.05        51743.15                0    New York   35673.41
50          0        116983.8         45173.06  California    14681.4